<h1>Products</h1>
<div class="products-box">
    <mat-card class="product-card" *ngFor="let product of productList">
        <mat-card-header>
          <mat-card-title>{{ product.name }}</mat-card-title>
        </mat-card-header>
        <!-- ako produkt ima sliku prikazi je u suprotnom ne -->
        <img mat-card-image *ngIf="product.image" src="{{'data:image/jpeg;base64,' + product.image}}" alt="Product Image">
        <mat-card-content>
          <p>
            Description: {{ product.description }}
          </p>
          <hr>
          <div class="quantity-box">Quantity: {{ product.quantity }}</div>
          <div class="price-box">Price: {{ product.price | currency}}</div>
        </mat-card-content>
        <hr>
        <mat-card-actions>
          <!-- prosledi proizvod u funkciju za otvaranje edit modala -->
          <button *ngIf="isLoggedIn" mat-raised-button color="accent" (click)="openEditDialog(product)">Edit</button>
          <button *ngIf="isLoggedIn" mat-button color="warn" (click)="openDeleteDialog(product.id)">Delete</button>
        </mat-card-actions>
      </mat-card>
</div>
