.products-box,
.orders-box {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

mat-card-header {
  display: flex;
  justify-content: center;
}

h1 {
  color: #fff;
  text-align: center;
  padding: 50px 0;
  margin: 0;
  font-size: 2rem;
}

.quantity-box,
.price-box,
.status-box {
  padding: 1rem 0;
}

.price-box {
  font-size: 1rem;
}

mat-card-actions {
  display: flex;
  justify-content: space-around;
}

.mat-card > .mat-card-actions:last-child {
  padding-top: 1rem;
  margin-bottom: 0;
}

img {
  height: 200px;
  object-fit: cover;
}

/* Shipping status */

.status-box > span {
  font-weight: 700;
  letter-spacing: 1px;
}

.in-progress {
  color: #826daa;
}

.in-progress-border {
  border: 5px solid #826daa;
  border-radius: 5px;
}

.in-transit {
  color: #fc8f00;
}

.in-transit-border {
  border: 5px solid #fc8f00;
  border-radius: 5px;
}

.delivered {
  color: #35df13;
}

.delivered-border {
  border: 3px solid #35df13;
  border-radius: 5px;
}

@media (min-width: 600px) {
  .products-box,
  .orders-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .products-box,
  .orders-box {
    grid-template-columns: repeat(3, 1fr);
  }
}
