.product-section {
    min-height: 100vh;
    padding: calc(64px + 50px) 50px 50px 50px;    
    background-color: #673AB7;
}

.ship-img {
    position: fixed;
    width: 50%;
    left: 0;
    bottom: 0;
}

.product-btn-container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
}

.product-message {
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.product-message h1 {
    font-size: 3rem;
    z-index: 1000;
    text-align: center;
    line-height: 1;    
    color: #fff;    
    background-color: #F55F44;
    padding: 20px;
    border-radius: 5px;
}

.check-box {
    padding: 6px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;   
    display: flex;
    align-items: center;
}

::ng-deep .mat-checkbox-frame {
    border-color: #fff;
}

::ng-deep .mat-checkbox-inner-container {
    height: 20px !important;
    width: 20px !important;
}

@media screen and (max-width: 768px) {
    .ship-img {
        display: none;
    }
}