<section class="registration-section">
    <img src="../../../assets/images/shared/ship.png" class="ship-background">
    <div class="form-container">
        <div class="form-card">
            <h2>Registration Form</h2>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="registration-form">
                <div class="form-box">
                    <label for="firstName">First Name</label>                    
                    <input formControlName="firstName" placeholder="First Name" [ngClass]="{ 'input-invalid': submitted && form.firstName.errors }">
                    <div *ngIf="submitted && form.lastName.errors">
                        <div *ngIf="form.firstName.errors" class="input-error-message">First Name is required</div>
                    </div>                    
                </div>

                <div class="form-box">
                    <label for="lastName">Last Name</label>
                    <input formControlName="lastName" placeholder="Last Name" [ngClass]="{ 'input-invalid': submitted && form.lastName.errors }">
                    <div *ngIf="submitted && form.lastName.errors">
                        <div *ngIf="form.lastName.errors.required" class="input-error-message">Last Name is required</div>
                    </div>
                </div>
                
                <div class="form-box">
                    <label for="username">Username</label>
                    <input formControlName="username" placeholder="Username" [ngClass]="{ 'input-invalid': submitted && form.lastName.errors }">
                    <div *ngIf="submitted && form.username.errors">
                        <div *ngIf="form.username.errors.required" class="input-error-message">Username is required</div>
                    </div>
                </div>
    
                <div class="form-box">
                    <label for="email">Email</label>
                    <input formControlName="email" placeholder="Email" [ngClass]="{ 'input-invalid': submitted && form.email.errors }">
                    <div *ngIf="submitted && form.email.errors">
                        <div *ngIf="form.email.errors.required" class="input-error-message">Email is required</div>
                        <div *ngIf="form.email.errors.email" class="input-error-message">Email is not in valid format</div>
                        <div *ngIf="form.email.errors.minlength" class="input-error-message">Email must have at least 6 characters</div>
                    </div>
                </div>
                
                <div class="form-box">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" placeholder="Password" [ngClass]="{ 'input-invalid': submitted && form.password.errors }">
                    <div *ngIf="submitted && form.password.errors">
                        <div *ngIf="form.password.errors.required" class="input-error-message">Password is required</div>
                        <div *ngIf="form.password.errors.minlength" class="input-error-message">Password must have at least 5 characters</div>
                    </div>
                </div>
    
                <div class="form-box">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" [ngClass]="{ 'input-invalid': submitted && form.password.errors }">
                    <div *ngIf="submitted && form.confirmPassword.errors">
                        <div *ngIf="form.confirmPassword.errors.required" class="input-error-message">Confirm Password is required</div>
                        <div *ngIf="form.confirmPassword.errors.matching" class="input-error-message">Confirm Password does not match</div>
                    </div>
                </div>

                <div class="form-box">
                    <label for="address">Postal Address</label>
                    <input formControlName="address" placeholder="Postal Address" [ngClass]="{ 'input-invalid': submitted && form.address.errors }">
                    <div *ngIf="submitted && form.address.errors">
                        <div *ngIf="form.address.errors.required" class="input-error-message">Postal Address is required</div>
                    </div>
                </div>

                <div class="form-box">
                    <label for="country">Country</label>
                    <input formControlName="country" placeholder="Country" [ngClass]="{ 'input-invalid': submitted && form.country.errors }">
                    <div *ngIf="submitted && form.country.errors">
                        <div *ngIf="form.country.errors.required" class="input-error-message">Country is required</div>
                    </div>
                </div>

                <div class="form-box">
                    <label for="phone">Phone Number</label>
                    <input formControlName="phone" placeholder="Phone Number"
                    [ngClass]="{ 'input-invalid': submitted && form.phone.errors }">
                    <div *ngIf="submitted && form.phone.errors">
                        <div *ngIf="form.phone.errors.required" class="input-error-message">Phone Number is required</div>
                        <div *ngIf="form.phone.errors.pattern" class="input-error-message">Phone Number must contain only numbers</div>
                    </div>
                </div>
    
                <button type="submit" class="btn-submit">Sign Up</button>
            </form>
        </div>
    </div>
</section>